services:
  - type: web
    name: pulp-api
    runtime: docker
    dockerfilePath: ./Dockerfile
    plan: free
    envVars:
      - key: DATABASE_URL
        sync: false
      - key: PORT
        value: "10000"
